name: Build and Push Node API to ACR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/mojeed-node-api:${{ github.sha }} ./app

      - name: Push Docker image
        run: |
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/mojeed-node-api:${{ github.sha }}

      - name: Tag and push latest
        run: |
          docker tag ${{ secrets.ACR_LOGIN_SERVER }}/mojeed-node-api:${{ github.sha }} \
                     ${{ secrets.ACR_LOGIN_SERVER }}/mojeed-node-api:latest
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/mojeed-node-api:latest
